.main{
    min-height:90vh;
}

.center-flex{
    flex:auto;
}

.footer{
    background: rgb(206, 206, 206);
    height: 3rem;
    bottom:0;
    width: 100%;
}

.slider-padding{
    display: flex;
    justify-content: center;
}

/*---------Index--------------*/
.index-header{
    background-image: url("https://nt.global.ssl.fastly.net/images/1431762236176-1247347-resize.jpg?width=1920&auto=webp&crop=16:7");
    height: 30rem;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}



/*------- Walk Page ----------*/

.walk-title-container{
    max-width: 60%;
}

.key-details-container{
    float: right;
}

.box{ 
    height: 18rem;
}

.walkpage-img{
    height: 50vh;
    background-repeat: no-repeat;
    overflow: hidden;
    width: inherit;
    object-fit: cover;
        padding: 2rem;
    background-color: gainsboro;
}

.box-space{
    padding: 0.5rem;
}

.click-box{
    margin: auto;
    font-size: 2rem;
    justify-content: center;
    display: flex;
    color: #ffffff;
    line-height: 1.5rem;
}

.blue{
    background-color: #2d2d71;
}

.green{
    background-color: #500522;
}

.image-1{
    background-image: url(https://www.falriver.co.uk/_media/12799/image?fit=crop&w=1200&h=675);
    background-size: cover;
    overflow: hidden;
}

.image-2{
    background-image: url(https://www.falriver.co.uk/_media/11487/image?fit=crop&w=1200&h=675);
    background-size: cover;
    overflow: hidden;
}

/*-------------Register/Login Page------------*/

.register-button{
    color: #fff;
    background-color: #12964b;
    width: 100%;
    font-size: larger;
}

/*---------Search Page---------*/
.search-card{
    width:75%
}