.main{
    min-height:90vh;
}

.footer{
    background: rgb(206, 206, 206);
    height: 3rem;
    bottom:0;
    width: 100%;
}

.slider-padding{
    display: flex;
    justify-content: center;
}

/*---------Index--------------*/
.index-header{
    background-image: url("https://nt.global.ssl.fastly.net/images/1431762236176-1247347-resize.jpg?width=1920&auto=webp&crop=16:7");
    height: 30rem;
    overflow: hidden;
    background-size: cover;
}



/*------- Walk Page ----------*/

.walk-title-container{
    max-width: 60%;
}

.key-details-container{
    float: right;
}

.box-colour{
    background-color: indigo;
    color: #ffffff;
    height: 16rem;
    justify-content: center;
    display: flex;
    /*margin: 0 -0.5rem;*/
}

.click-box{
    margin: auto;
    font-size: 3rem;
}

/*-------------Register/Login Page------------*/

.register-button{
    color: #fff;
    background-color: #12964b;
    width: 100%;
    font-size: larger;
}