{% extends "base.html" %}
{% block content %}
<h2>Add a New Walk</h2>
<form class="container needs-validation" method="POST"
    action="{{ url_for('add_walk') }}" novalidate>
    <div class="row">
        <!-- Title of walking route-->
        <div class="form-group col-12">
            {{ addform.title.label }}
            {{ addform.title }}
        </div>
        <!-- Select input for category of walk-->
        <div class="form-group col-12">
            {{ addform.category.label }}
            {{ addform.category }}
            <div class="valid-feedback">
                Is this correct?
            </div>
        </div>
        <!-- Input for walk route description -->
        <div class="form-group col-12">
            {{ addform.description.label }}
            {{ addform.description }}
        </div>
        <!-- Image url saved to load picture-->
        <div class="form-group col-12">
            <label for="imageUrl">Image Url/address</label>
            <input type="text" class="form-control" id="imageUrl"
                name="imageUrl" required maxlength="250"
                placeholder="Please paste a copied web address/url for the walk's main image">
        </div>
        <!--Walk difficulty selector-->
        <div class="form-group col-sm-12 col-md-6">
            {{ addform.difficulty.label }}
            {{ addform.difficulty }}
            <div class="valid-feedback">
                Is this correct?
            </div>
        </div>
        <!--Text input for walking time-->
        <div class="form-group col-sm-12 col-md-6">
            {{ addform.time.label }}
            {{ addform.time }}
        </div>
        <!-- Text Input for distance-->
        <div class="form-group col-sm-12 col-md-6">
            {{ addform.distance.label }}
            {{ addform.distance }}
        </div>
        <!-- Text Input for startpoint-->
        <div class="form-group col-sm-12 col-md-6">
            {{ addform.startpoint.label }}
            {{ addform.startpoint }}
        </div>
        <!-- Custom toggle switch found at
             https://www.w3schools.com/bootstrap4/bootstrap_forms_custom.asp-->
        <!-- Dog Friendly checkbox-->
        <div
            class="form-group custom-control custom-switch col-12 col-md-4 slider-padding">
            <input type="checkbox" class="custom-control-input" id="dogFriendly"
                name="dogs_allowed">
            <label class="custom-control-label" for="dogFriendly">Dog
                Friendly</label>
        </div>
        <!-- Free parking checkbox-->
        <div
            class="form-group custom-control custom-switch col-12 col-md-4 slider-padding">
            <input type="checkbox" class="custom-control-input" id="freeParking"
                name="free_parking">
            <label class="custom-control-label" for="freeParking">Free
                Parking</label>
        </div>
        <!--paid parking checkbox-->
        <div
            class="form-group custom-control custom-switch col-12 col-md-4 slider-padding">
            <input type="checkbox" class="custom-control-input" id="paidParking"
                name="paid_parking">
            <label class="custom-control-label" for="paidParking">Paid
                Parking</label>
        </div>
        <h6 class="mx-auto">Please use the Enter key to seperate direction steps
            from
            each other.</h6>
        <!-- Text area for directions -->
        <div class="form-group col-12">
            <label for="directionsTextArea">Directions</label>
            <!-- use of unicode for newline found at
            http://www.amp-what.com/unicode/search/newline -->
            <textarea class="form-control" id="directionsTextArea" rows="10"
                name="directions" required minlength="100" maxlength="1600"
                placeholder="Please enter your directions here.&#10;Next instruction on a new line without any spaces.&#10;And so on and so forth."></textarea>
        </div>
        <div class="form-group col-12">
            <label for="extraTips">Any Extra Info?</label>
            <textarea class="form-control" id="extraTips" rows="3"
                name="extra_tips"
                placeholder="Anything interesting to share?&#10;Let others know here!"></textarea>
        </div>

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}