<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Cornish Walks</title>
        <meta name="description"
            content="See Cornwall the way it should be enjoyed, from the people who know and love it best.">
        <meta name="keywords" content="HTML, CSS, Javascript">
        <meta name="author" content="Rhys Pollard">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Style Sheets-->
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            type="text/css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap"
            rel="stylesheet">
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            type="text/css" />
        <!-- Favicon Links from https://www.favicon-generator.org/ -->
        <link rel="apple-touch-icon" sizes="57x57"
            href="{{ url_for('static', filename='favicon//apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60"
            href="{{ url_for('static', filename='favicon//apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72"
            href="{{ url_for('static', filename='favicon//apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76"
            href="{{ url_for('static', filename='favicon//apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114"
            href="{{ url_for('static', filename='favicon//apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120"
            href="{{ url_for('static', filename='favicon//apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144"
            href="{{ url_for('static', filename='favicon//apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152"
            href="{{ url_for('static', filename='favicon//apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180"
            href="{{ url_for('static', filename='favicon//apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"
            href="{{ url_for('static', filename='favicon//favicon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32"
            href="{{ url_for('static', filename='favicon//favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96"
            href="{{ url_for('static', filename='favicon//favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16"
            href="{{ url_for('static', filename='favicon//favicon-16x16.png') }}">
        <link rel="manifest"
            href="{{ url_for('static', filename='favicon//site.webmanifest') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!-- CSS external file-->
        <link rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
            type="text/css">
        <title class="text-capitalize">Cornish Walks | {{page_title}}</title>
    </head>

    <body>
        <!-- Navbar-->
        <nav class="navbar navbar-expand-lg custom-nav">
            <a class="navbar-brand" href="{{ url_for('home') }}"><img
                    src="{{ url_for('static', filename='favicon//favicon-32x32.png') }}"
                    alt="CW Cornish Walks">Cornish
                Walks</a>
            <button class="navbar-toggler toggler-icon" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <!-- Code for animated icon found at 
                https://www.w3schools.com/howto/howto_css_menu_icon.asp -->
                <span class="toggler-icon" id="toggler-icon">
                    <span class="bar1"></span>
                    <span class="bar2"></span>
                    <span class="bar3"></span>
                </span>
            </button>
            <!-- Navbar collapse for mobile/tablet -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav center-flex justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link custom-link"
                            href="{{ url_for('home') }}">Home
                            <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link custom-link"
                            href="{{ url_for('search') }}">Discover</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link custom-link"
                            href="{{ url_for('contact') }}">Contact
                            Us</a>
                    </li>
                    <!-- Add walk only visible if logged in-->
                    {% if session.user %}
                    <li class="nav-item">
                        <a class="nav-link custom-link"
                            href="{{ url_for('add_walk') }}">Add
                            Walk</a>
                    </li>
                    {% endif %}
                </ul>
                <!-- If session has a valid user then display userpage and logout links
                along with drop down button for larger screens -->
                {% if session.user %}
                <ul
                    class="center-flex justify-content-center dropdown-format d-lg-none d-xl-none">
                    <li class="nav-item">
                        <a class="nav-link custom-link"
                            href="{{ url_for('user_profile', username=session['user'])}}">Userpage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link custom-link"
                            href="{{ url_for('logout')}}">Logout</a>
                    </li>
                </ul>
                <div class="dropdown d-none d-lg-block">
                    <button class="button clear user-dropdown dropdown-toggle"
                        type="button" id="userDropDownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fas fa-user" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu custom-dropdown"
                        aria-labelledby="userDropDownMenuButton">
                        <ul
                            class="center-flex justify-content-center dropdown-format">
                            <li class="nav-item">
                                <a class="nav-link custom-link"
                                    href="{{ url_for('user_profile', username=session['user'])}}">Userpage</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link custom-link"
                                    href="/logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% else %}
                <ul class="navbar-nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link custom-link"
                            href="{{ url_for('register') }}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link custom-link"
                            href="{{ url_for('login') }}">Log
                            in</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </nav>
        <!-- Block for main body of html content per page -->
        <main class="main">
            {% block content %}
            {% endblock %}
        </main>
        <!--Footer-->
        <footer class="footer">
            <div class="container">
                <div class="row footer-content">
                    <div class="col-sm-12 col-md-6 col-lg-3 h-rule v-rule">
                        <h3>Cornish Walks</h3>
                        <h5>Come for a proper walk.</h5>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <ul class="footer-nav">
                            <li class="footer-item">
                                <a class="footer-link"
                                    href="{{ url_for('home') }}">Home Page
                                    <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="footer-item">
                                <a class="footer-link"
                                    href="{{ url_for('search') }}">Discover
                                </a>
                            </li>
                            <li class="footer-item">
                                <a class="footer-link"
                                    href="{{ url_for('contact') }}">Contact Us
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 h-rule v-rule">
                        <ul class="footer-nav">
                            <li class="footer-item">
                                <a class="footer-link"
                                    href="{{ url_for('privacy_policy') }}">Privacy
                                    Policy</a>
                            </li>
                            <li class="footer-item">
                                <a class="footer-link"
                                    href="{{ url_for('terms_of_service') }}">Terms
                                    and Conditions</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Social Media links-->
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <ul class="social-links">
                            <li>
                                <a class="social-bubble"
                                    href="https://www.twitter.com"
                                    target="_blank" rel="noopener"><i
                                        class="fab fa-twitter"
                                        aria-hidden="true"></i></a>
                                <span class="sr-only">Twitter</span>
                            </li>
                            <li>
                                <a class="social-bubble"
                                    href="https://www.facebook.com"
                                    target="_blank" rel="noopener"><i
                                        class="fab fa-facebook-f"
                                        aria-hidden="true"></i></a>
                                <span class="sr-only">Facebook</span>
                            </li>
                            <li>
                                <a class="social-bubble"
                                    href="https://www.instagram.com"
                                    target="_blank" rel="noopener"><i
                                        class="fab fa-instagram"
                                        aria-hidden="true"></i></a>
                                <span class="sr-only">instagram</span>
                            </li>
                            <li>
                                <a class="social-bubble"
                                    href="https://www.linkedin.com"
                                    target="_blank" rel="noopener"><i
                                        class="fab fa-linkedin-in"
                                        aria-hidden="true"></i></a>
                                <span class="sr-only">Linked-in</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="copyright">
                    <p>&#169; 2020 Cornish Walks / RhysPollardDevelopment</p>
                </div>
            </div>
        </footer>
        <!--Scripts-->
        <!--Jquery-->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
        <!-- CloudFlare popper-->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <!--Bootstrap-->
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <!--Font-Awesome-->
        <script src="https://kit.fontawesome.com/d57b53712b.js"
            crossorigin="anonymous"></script>
        <!--Scripts-->
        <script src="/static/js/base.js"></script>
        {% block scripts %}
        {% endblock -%}
    </body>

</html>