{% extends "base.html" %}
{% block content %}

<section class="container-fluid">
    <div class="row">
        <div class="col-12 contact-img">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-success alert-dismissible fade show col-12"
                role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
                <button type="button" class="close" data-dismiss="alert"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% endwith %}

            <div class="contact-card">
                <h2>Get in Touch</h2>
                <p>Contact us by email if you have any comments about the site,
                    or DM us on twitter and someone will get back to you.</p>
                <h5>Email</h5>
                <p>COMPANY@email.com</p>
                <h5>Twitter</h5>
                <p>Twitter.com/COMPANY</p>
            </div>
        </div>
    </div>

</section>
<section class="faq-container">
    <div class="row">
        <div class="accordion col-6" id="accordionExample">
            {% for faq in faqs %}
            <div class="card">
                <div class="card-header" id="heading{{ faq._id }}">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button"
                            data-toggle="collapse"
                            data-target="#collapse{{ faq._id }}"
                            aria-expanded="false"
                            aria-controls="collapse{{ faq._id }}">
                            {{ faq.FAQ }}
                        </button>
                    </h5>
                </div>
                <div id="collapse{{ faq._id }}" class="collapse"
                    aria-labelledby="heading{{ faq._id }}"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        {{ faq.Answer }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {{ contactform.csrf_token }}
        <form class="col-5 needs-validation" method="POST"
            action="{{ url_for('contact') }}" novalidate>
            {{ contactform.csrf_token }}

            <div class="form-group">
                {{ contactform.problem.label }}
                {{ contactform.problem }}
            </div>
            <div class="form-group">
                {{ contactform.user_issue.label }}
                {{ contactform.user_issue }}
                <div class="invalid-feedback">
                    Please make your message between 20 and 500 words.
                </div>
            </div>
            {% for field, errors in contactform.errors.items() %}
            <div class="alert alert-danger alert-dismissible fade show col-12"
                role="alert">
                {{ contactform[field].label }}: {{ ', '.join(errors) }}
                <button type="button" class="close" data-dismiss="alert"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Report</button>
        </form>
    </div>
</section>
{% endblock %}