{% extends "base.html" %}
{% block content %}

<section class="container-fluid">
    <div class="row">
        <div class="col-12 contact-img">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-success alert-dismissible fade show col-12"
                role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
                <button type="button" class="close" data-dismiss="alert"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% endwith %}
            <div class="contact-card">
                <h2>Get in Touch</h2>
                <p>Contact us by email or DM on social media if you have any
                    comments about the site.
                </p>
                <p>Or use our report form below and well get back to you.</p>
                <h5>Email</h5>
                <p>support@cornishwalks.co.uk</p>
                <ul class="social-links contact">
                    <li>
                        <a class="social-bubble" href="https://www.twitter.com"
                            target="_blank"><i class="fab fa-twitter"></i></a>
                        <span class="sr-only">Twitter</span>
                    </li>
                    <li>
                        <a class="social-bubble" href="https://www.facebook.com"
                            target="_blank"><i
                                class="fab fa-facebook-f"></i></a>
                        <span class="sr-only">Facebook</span>
                    </li>
                    <li>
                        <a class="social-bubble"
                            href="https://www.instagram.com" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                        <span class="sr-only">instagram</span>
                    </li>
                    <li>
                        <a class="social-bubble" href="https://www.linkedin.com"
                            target="_blank"><i
                                class="fab fa-linkedin-in"></i></a>
                        <span class="sr-only">Linked-in</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid faq-container">
    <div class="row">
        <div class="accordion-custom col-sm-12 col-lg-6" id="accordionExample">
            <h3 class="d-none d-lg-block d-xl-block">Frequently Asked Questions
            </h3>
            {% for faq in faqs %}
            <div class="accordion-card">
                <div class="card-header" id="heading{{ faq._id }}">
                    <h5 class="mb-0">
                        <button class="button accordion-link collapsed"
                            type="button" data-toggle="collapse"
                            data-target="#collapse{{ faq._id }}"
                            aria-expanded="false"
                            aria-controls="collapse{{ faq._id }}">
                            {{ faq.FAQ }}
                            <i class="fas fa-angle-up"></i>
                        </button>
                    </h5>
                </div>
                <div id="collapse{{ faq._id }}" class="collapse"
                    aria-labelledby="heading{{ faq._id }}"
                    data-parent="#accordionExample">
                    <div class="accordion-body">
                        {{ faq.Answer }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {{ contactForm.csrf_token }}
        <form class="report col-sm-12 col-lg-5 needs-validation" method="POST"
            action="{{ url_for('contact') }}" novalidate>
            {{ contactForm.csrf_token }}
            <div class="form-group">
                {{ contactForm.problem.label }}
                {{ contactForm.problem }}
            </div>
            <div class="form-group">
                {{ contactForm.user_issue.label }}
                {{ contactForm.user_issue }}
                <div class="invalid-feedback">
                    Please make your message between 20 and 500 words.
                </div>
            </div>
            {% for field, errors in contactForm.errors.items() %}
            <div class="alert alert-danger alert-dismissible fade show col-12"
                role="alert">
                {{ contactForm[field].label }}: {{ ', '.join(errors) }}
                <button type="button" class="close" data-dismiss="alert"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            <button type="submit" class="button submit">Report</button>
        </form>
    </div>
</section>
{% endblock %}