{% extends "base.html" %}
{% block content %}

<form class="container needs-validation walk-form" method="POST"
    action="{{ url_for('edit_walk', route_id=walk._id) }}" novalidate>
    {{ editForm.csrf_token }}
    <h2>Edit a Walk</h2>
    <div class="row">
        {% for field, errors in editForm.errors.items() %}
        <div class="alert alert-danger alert-dismissible fade show col-12"
            role="alert">
            {{ editForm[field].label }}: {{ ', '.join(errors) }}
            <button type="button" class="close" data-dismiss="alert"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        <!-- Title of walking route-->
        <div class="form-group col-12">
            {{ editForm.title.label }}
            {{ editForm.title }}
        </div>
        <!-- Select input for category_name of walk-->
        <div class="form-group col-12">
            {{ editForm.category_name.label }}
            {{ editForm.category_name }}
            <div class="valid-feedback">
                Is this correct?
            </div>
        </div>
        <!-- Input for walk route description -->
        <div class="form-group col-12">
            {{ editForm.description.label }}
            {{ editForm.description }}
        </div>
        <!-- Image url saved to load picture-->
        <div class="form-group col-12">
            {{ editForm.imageUrl.label }}
            {{ editForm.imageUrl }}
            <div class="invalid-feedback">
                Must begin with http or https, please paste/enter a valid URL
                for your image.
            </div>
        </div>
        <!--Walk difficulty selector-->
        <div class="form-group col-sm-12 col-md-6">
            {{ editForm.difficulty.label }}
            {{ editForm.difficulty }}
            <div class="valid-feedback">
                Is this correct?
            </div>
        </div>
        <!--Text input for walking time-->
        <div class="form-group col-sm-12 col-md-6">
            {{ editForm.time.label }}
            {{ editForm.time }}
        </div>
        <!-- Text Input for distance-->
        <div class="form-group col-sm-12 col-md-6">
            {{ editForm.distance.label }}
            {{ editForm.distance }}
        </div>
        <!-- Text Input for startpoint-->
        <div class="form-group col-sm-12 col-md-6">
            {{ editForm.startpoint.label }}
            {{ editForm.startpoint }}
        </div>
        <!-- Custom toggle switch found at
        https://www.w3schools.com/bootstrap4/bootstrap_forms_custom.asp-->
        <!-- Dog Friendly checkbox-->
        <div
            class="form-group custom-control custom-switch col-12 col-md-4 slider-padding">
            {{ editForm.dogs_allowed }}
            {{ editForm.dogs_allowed.label(class="custom-control-label") }}
        </div>
        <!-- Free parking checkbox-->
        <div
            class="form-group custom-control custom-switch col-12 col-md-4 slider-padding">
            {{ editForm.free_parking }}
            {{ editForm.free_parking.label(class="custom-control-label") }}
        </div>
        <!--paid parking checkbox-->
        <div
            class="form-group custom-control custom-switch col-12 col-md-4 slider-padding">
            {{ editForm.paid_parking }}
            {{ editForm.paid_parking.label(class="custom-control-label") }}
        </div>
        <h6 class="mx-auto">Please use the Enter key to seperate direction steps
            from
            each other.</h6>
        <!-- Text area for directions -->
        <div class="form-group col-12">
            <!-- use of unicode for newline found at
            http://www.amp-what.com/unicode/search/newline -->
            {{ editForm.directions.label }}
            {{ editForm.directions }}
            <div class="invalid-feedback">
                Directions must be between 100-1600 characters.
            </div>
        </div>
    </div>
    <button type="submit" class="button submit">Submit</button>
</form>
{% endblock %}

{% block scripts %}
<script src="/static/js/bootstrap.js"></script>
{% endblock %}