{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="jumbotron-fluid index-header col-12">
            <h1 class="display-4">Hello, world!</h1>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn
                more</a>
        </div>
    </div>
</div>
<section class="container">
    <div class="row">
        {% for route in routes %}
        <div class="card text-center col-4">
            <div class="card-header">
                Top voted
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ route.title}}</h5>
                <p class="card-text">Created by {{route.user}}</p>
                <a href="{{ url_for('edit_walk',route_id=route._id) }}"
                    class="btn btn-primary">Edit Walk</a>
                <a href="{{ url_for('show_walk',route_id=route._id) }}"
                    class="btn btn-primary">View Walk</a>
                <a href="{{ url_for('delete_walk',route_id=route._id) }}"
                    class="btn btn-primary">Delete Walk</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>

        {% endfor %}
    </div>
</section>

{% endblock %}