{% extends "base.html" %}
{% block content %}

<section class="container-fluid login-register">
    <div class="row login-wrapper">
        <div class="col-sm-12 col-md-6 col-lg-5 signin-box">
            <ul class="nav nav-tabs custom">
                <!-- Link to register page -->
                <li class="nav-item custom">
                    <a class="custom-navlink"
                        href="{{ url_for('register')}}">Register</a>
                </li>
                <!-- Link to login page -->
                <li class="nav-item custom">
                    <a class="custom-navlink active"
                        href="{{ url_for('login')}}">Log
                        In</a>
                </li>
            </ul>
            <div>
                <form method="POST" action="{{ url_for('login')}}" novalidate>
                    {{ logForm.csrf_token }}
                    <!-- Username label and input-->
                    <div class="form-group">
                        {{ logForm.login_username.label(id='logUsernameLabel') }}
                        {{ logForm.login_username }}
                        <small id="usernameHelp"
                            class="form-text text-muted">We'll
                            never share
                            your details with anyone else.</small>
                    </div>
                    <!-- Login password label and input-->
                    <div class="form-group">
                        {{ logForm.login_password.label(id='logPasswordLabel') }}
                        {{ logForm.login_password }}
                    </div>
                    <!-- Incorrect Login warning-->
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert alert-danger col-12" role="alert">
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}
                    <!-- Log in Button -->
                    <button type="submit" class="button register">Log
                        In</button>
                </form>
            </div>
            <div class="box-subtext">
                <h4>Don't have an account?</h4>
                <p>Protect your log in details and remember to log out if using
                    a public/shared computer.</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-6 benefits">
            <h2 class="d-none d-md-block">Register or Sign In</h2>
            <div class="border">
                <h3>Reasons to Sign Up:</h3>
                <ul>
                    <li>
                        Add and edit your own walks for others to see.
                    </li>
                    <li>
                        Save your favourite walks for later.
                    </li>
                    <li>
                        View other user's pages and see walks made by them.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}