{% extends "base.html" %}
{% block content %}

<section class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active"
                        href="{{ url_for('register')}}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login')}}">Log In</a>
                </li>
            </ul>
            <div>
                <!-- Registration form -->
                <form method="POST" action="{{ url_for('register')}}"
                    class="needs-validation" novalidate>
                    <!-- Crsf token checks secret key to ensure is a legitimate webpage -->
                    {{ regform.csrf_token }}
                    <div class="form-group">
                        <!-- uses WTForms to do backed validity, applies classes,etc in backend-->
                        {{ regform.email.label(id='emailLabel') }}
                        {{ regform.email }}
                        <div class="invalid-feedback">
                            Please Enter a correct email.
                        </div>
                    </div>
                    <div class="form-group">
                        {{ regform.username.label(id='usernameLabel') }}
                        {{ regform.username }}
                        <div class="invalid-feedback">
                            Please choose a username.
                        </div>
                        <small id="usernameHelp"
                            class="form-text text-muted">You'll need this to
                            login.</small>
                    </div>
                    <div class="form-group">
                        {{ regform.password.label(id='passwordLabel') }}
                        {{ regform.password }}
                    </div>
                    <!-- Custom javascript code compares this to the above password-->
                    <div class="form-group">
                        {{ regform.confirm_password.label(id='confirmLabel') }}
                        {{ regform.confirm_password }}
                        <div class="invalid-feedback">
                            <p>Passwords do not match!</p>
                        </div>
                    </div>
                    <div class="form-group form-check">
                        {{ regform.agree }}
                        {{ regform.agree.label }} <a
                            href="{{ url_for('terms_of_service') }}"
                            target="_blank">Terms Of
                            Service</a>
                        <div class="invalid-feedback">
                            <p>You need to agree to register</p>
                        </div>
                    </div>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert alert-info col-12" role="alert">
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}
                    <button type="submit"
                        class="btn register-button">Register</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}