{% extends "base.html" %}
{% block content %}

<section class="container-fluid login-register">
    <div class="row login-wrapper">
        <div class="col-sm-12 col-md-6 col-lg-5 register-box">
            <ul class="nav nav-tabs custom">
                <li class="nav-item custom">
                    <a class="custom-navlink active"
                        href="{{ url_for('register')}}">Register</a>
                </li>
                <li class="nav-item custom">
                    <a class="custom-navlink" href="{{ url_for('login')}}">Log
                        In</a>
                </li>
            </ul>
            <div>
                <!-- Registration form -->
                <form method="POST" action="{{ url_for('register')}}"
                    class="needs-validation" novalidate>
                    <!-- Crsf token checks secret key to ensure is a legitimate webpage -->
                    {{ regform.csrf_token }}
                    <div class="form-group">
                        <!-- uses WTForms to do backed validity, applies classes,etc in backend-->
                        {{ regform.email.label(id='emailLabel') }}
                        {{ regform.email }}
                        <div class="invalid-feedback">
                            Please Enter a correct email.
                        </div>
                    </div>
                    <div class="form-group">
                        {{ regform.username.label(id='usernameLabel') }}
                        {{ regform.username }}
                        <div class="invalid-feedback">
                            Please choose a username.
                        </div>
                        <small id="usernameHelp"
                            class="form-text text-muted">You'll need this to
                            login.</small>
                    </div>
                    <div class="form-group">
                        {{ regform.password.label(id='passwordLabel') }}
                        {{ regform.password }}
                    </div>
                    <!-- Custom javascript code compares this to the above password-->
                    <div class="form-group">
                        {{ regform.confirm_password.label(id='confirmLabel') }}
                        {{ regform.confirm_password }}
                        <div class="invalid-feedback">
                            <p>Passwords do not match!</p>
                        </div>
                    </div>
                    <div class="form-group form-check">
                        {{ regform.agree }}
                        {{ regform.agree.label }} <a
                            href="{{ url_for('terms_of_service') }}"
                            target="_blank">Terms Of
                            Service</a>
                        <div class="invalid-feedback">
                            <p>You need to agree to register</p>
                        </div>
                    </div>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert alert-info col-12" role="alert">
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}
                    <button type="submit" class="button register">Sign
                        Up</button>
                </form>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-6 benefits">
            <h2 class="d-none d-md-block">Register or Log in</h2>
            <div class="border">
                <div class="">
                    <h3>Reasons to Sign Up:</h3>
                    <ul>
                        <li>
                            Add and edit your own walks for others to see.
                        </li>
                        <li>
                            Save your favourite walks for later.
                        </li>
                        <li>
                            View other user's pages and see walks made by them.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}