{% extends "base.html" %}
{% block content %}
{{ filterForm.csrf_token }}
<section class="container-fluid">
    <div class="row">
        <!-- Top image and search form-->
        <div class="search-header col-12">
            <h2 class="landing-header">Discover</h2>
        </div>
    </div>
</section>
<form class="container-fluid" method="POST" action="{{ url_for('search') }}">
    <div class="row search-box">
        <div class="col-12">
            {{ filterForm.query(class="form-control mr-sm-2") }}
        </div>
        <div class="form-group col-sm-12 col-md-6">
            {{ filterForm.category_name.label }}
            {{ filterForm.category_name }}
        </div>
        <div class="form-group col-sm-12 col-md-6">
            {{ filterForm.difficulty.label }}
            {{ filterForm.difficulty }}
        </div>
        <div
            class="form-group custom-control custom-switch col-12 col-md-4 slider-padding">
            {{ filterForm.dogs_allowed }}
            {{ filterForm.dogs_allowed.label(class="custom-control-label") }}
        </div>
        <!-- Free parking checkbox-->
        <div
            class="form-group custom-control custom-switch col-12 col-md-4 slider-padding">
            {{ filterForm.free_parking }}
            {{ filterForm.free_parking.label(class="custom-control-label") }}
        </div>
        <!--paid parking checkbox-->
        <div
            class="form-group custom-control custom-switch col-12 col-md-4 slider-padding">
            {{ filterForm.paid_parking }}
            {{ filterForm.paid_parking.label(class="custom-control-label") }}
        </div>
        <button class="button search" type="submit">Search</button>
        <div class="col-12 down-arrow d-sm-block d-md-none">
            <i class="fas fa-angle-down"></i>
        </div>

    </div>

</form>
<!-- If post checks if truthy to add id so that search.js can scroll to 
this sections, otherwise it cannot scroll.-->
<section class="container search-results">
    <div class="row" {% if post %}id="results" {% endif %}>
        {% with messages = get_flashed_messages(category_filter =["error"]) %}
        {% if messages %}
        {% for message in messages %}
        <div class="col-12 d-flex justify-content-center">
            <h3>{{ message }}</h3>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% for route in routes %}
        <div class="col-lg-4 col-md-6 col-sm-12 feature-walk">
            <a href="{{ url_for('show_walk',route_id=route._id) }}">
                <div class="full-text">
                    <h5>{{route.title}}</h5>
                    <p>{{route.difficulty}}</p>
                    <p>{{route.time}}</p>
                    <p>Posted by: {{route.user}}</p>
                </div>
                <div class="square mb-2">
                    <img src="{{ route.imageUrl }}">
                    <div class="overlay"></div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
<nav aria-label="pagination-nav" class="pagination-wrapper">
    <ul class="pagination">
        <li class="page-item {% if prev_page==None %}disabled{% endif %}">
            <a class="page-link" href="{{prev_page}}" tabindex="-1">Previous</a>
        </li>
        {% for page in range(1, max_pages+1) %}
        <li class="page-item {% if current_page==page %}active{% endif %}">
            <a class="page-link"
                href="{{ url_for('search', page_num=page)}}">{{page}}</a>
        </li>
        {% endfor %}
        <li class="page-item {% if next_page==None %}disabled{% endif %}">
            <a class="page-link" href="{{next_page}}">Next</a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block scripts %}
<script src="/static/js/search.js"></script>
{% endblock %}