{% extends "base.html" %}
{% block content %}

<form class="container-fluid" method="POST" action="{{ url_for('search') }}">
    <div class="row">
        <!-- Top image and search form-->
        <div class="jumbotron-fluid index-header col-12">
            <h1 class="display-4">Hello, world!</h1>
            <hr class="my-4">
            <div class="col-6">
                <input class="form-control mr-sm-2" type="search"
                    placeholder="Search" aria-label="Search" name="query">
                <button class="btn btn-success my-2 my-sm-0"
                    type="submit">Search</button>
            </div>
        </div>
    </div>
    <div class=container>
        <div class="row">
            <div class="form-group col-6">
                <label for="exampleFormControlSelect1">Walk Type</label>
                <select class="form-control" id="exampleFormControlSelect1"
                    name="category_name">
                    <!-- If no previous filters, option is selected. 
                    If a previous filter, option is not selected-->
                    {% if not filters.category_name %}
                    <option selected>Choose...</option>
                    {% else %}
                    <option>Choose...</option>
                    {% endif %}
                    <!--For each challenge level, decide whether it is
                    selected or not-->
                    {% for category in categories %}
                    {% if category.category_name == filters.category_name %}
                    <option selected>{{category.category_name}}</option>
                    {% else %}
                    <option>{{category.category_name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-6">
                <label for="exampleFormControlSelect1">Difficulty</label>
                <select class="form-control" id="exampleFormControlSelect1"
                    name="difficulty">
                    <!-- If no previous filters, option is selected. 
                    If a previous filter, option is not selected-->
                    {% if not filters.difficulty %}
                    <option selected>Choose...</option>
                    {% else %}
                    <option>Choose...</option>
                    {% endif %}
                    <!--For each challenge level, decide whether it is
                    selected or not-->
                    {% for difficulty in difficulties %}
                    {% if difficulty.challenge == filters.difficulty %}
                    <option selected>{{ difficulty.challenge }}</option>
                    {% else %}
                    <option>{{difficulty.challenge}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div
                class="form-group custom-control custom-switch col-12 col-md-4 slider-padding">
                {% if filters.dogs_allowed %}
                <input type="checkbox" class="custom-control-input"
                    id="dogFriendly" name="dogs_allowed" checked>
                {% else %}
                <input type="checkbox" class="custom-control-input"
                    id="dogFriendly" name="dogs_allowed">
                {% endif %}
                <label class="custom-control-label" for="dogFriendly">Dog
                    Friendly</label>
            </div>
            <!-- Free parking checkbox-->
            <div
                class="form-group custom-control custom-switch col-12 col-md-4 slider-padding">
                {% if filters.free_parking %}
                <input type="checkbox" class="custom-control-input"
                    id="freeParking" name="free_parking" checked>
                {% else %}
                <input type="checkbox" class="custom-control-input"
                    id="freeParking" name="free_parking">
                {% endif %}
                <label class="custom-control-label" for="freeParking">Free
                    Parking</label>
            </div>
            <!--paid parking checkbox-->
            <div
                class="form-group custom-control custom-switch col-12 col-md-4 slider-padding">
                {% if filters.paid_parking %}
                <input type="checkbox" class="custom-control-input"
                    id="paidParking" name="paid_parking" checked>
                {% else %}
                <input type="checkbox" class="custom-control-input"
                    id="paidParking" name="paid_parking">
                {% endif %}
                <label class="custom-control-label" for="paidParking">Paid
                    Parking</label>
            </div>
</form>
<section class="container">
    <div class="row">
        {% for route in routes %}
        <div class="card bg-dark text-white col-6 search-card">
            <img class="card-img" src="{{ route.imageUrl }}" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">{{ route.title }}</h5>
                <p class="card-text">Created by {{route.user}}</p>
                <p class="card-text">Last updated 3 mins ago</p>
                <a href="{{ url_for('show_walk',route_id=route._id) }}"
                    class="btn btn-primary">View Walk</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<section class="container">
    <div class="row">
        <article class="col-sm-12 col-md-6 box-space">
            <div class="click-box box image-2">
                <h3 class="click-box">Walking Tips<i
                        class="fas fa-angle-right"></i>
                </h3>
            </div>
        </article>
        <article class="col-sm-12 col-md-6 box-space">
            <div class="click-box box image-1">
                <h3 class="click-box">Sign Up<i class="fas fa-angle-right"></i>
                </h3>
            </div>
        </article>
    </div>
</section>
{% endblock %}