{% extends "base.html" %}
{% block content %}

<article class="container article-header">
    <h2>Terms Of Service</h2>
</article>
<section class="container">
    <div class="row legal-form">
        <div class="col-12">
            <p>Our terms and services below is a guide to users how to interact
                with our website and what sort of content and actions can be
                expected from users and Cornish Walks.</p>
        </div>
        <div>
            <ol>
                <li>
                    <h5>
                        Purpose of this site
                    </h5>
                    <p>
                        <em> site is an educational project for the development
                            of python and database skills and does not represent
                            any
                            real company or group.
                            While we will try to ensure a safe environment and
                            secure data, this is will not be used beyond
                            assessment
                            and should be taken as
                            a complete product.

                            The below contact details are fictitious and used as
                            an
                            example of this pseudo company.</em>
                    </p>
                </li>
                <li>
                    <h5>
                        Use of this Website and Conditions
                    </h5>
                    <p>
                        These general terms of service set out your right and
                        obligations, along with those of Cornish Walks, when
                        using our website and its material and content.
                    </p>
                </li>
                <li>
                    <h5>
                        Meanings
                    </h5>
                    <p>
                        Materials and content includes, but is not limited to,
                        all user created data that appears on this website. Also
                        the look, design and feel of the site itself.

                        The "site" is a lose term detailing Cornish walks and
                        all pages directly under its domain.
                    </p>
                </li>
                <li>
                    <h5>
                        Content of the site.
                    </h5>
                    <p>
                        We endeavour to keep our content as accurate as possible
                        when delivered to you, the user. However, due to the
                        nature of outdoor walks and that this information is
                        most often volunteered but other users, we cannot always
                        ensure that information is 100% accurate.

                        For this reason content is provided "as is" and should
                        be taken at face value, for safety we advice checking
                        any information from this site before engaging on any
                        walks as best as you can for your own safety.

                        All content should be as accurate as is reasonable and
                        should not be: degoratory, dangerous, malicious or
                        misleading.

                        We will not tolerate any racist, sexist, homophobic,
                        transphobic, insulting or otherwise unpleasant or
                        distasteful in nature.

                        No pornographic or mature material is allowed on this
                        website.

                        Any violation of this will result in the removal of this
                        information and banning of the associated user at our
                        discretion.
                    </p>
                </li>
                <li>
                    <h5>
                        Contact with us
                    </h5>
                    <p>
                        We will only contact you first for any legal changes to
                        out terms of service or privacy policy which you as a
                        user should be aware of.

                        Otherwise all contact will be in response to a user
                        comment, query or complaint which has been sent to us
                        through one of your contact details.

                        You may contact us on our <a
                            href="{{ url_for('contact') }}"
                            target="_blank">contact page</a> at any time if you
                        have a comment or complaint.
                        Harmful or harassing comments will not be tolerated and
                        result in blocking of said account. If an instruction is
                        incomplete or directly contrary to our terms of service
                        or privacy policy
                        we may refuse to follow those instructions.
                    </p>
                </li>
                <li>
                    <h5>
                        Liability
                    </h5>
                    <p>
                        We are not liable for any loss or damage caused in the
                        use of walks posted on this website. We are
                        providing a service of information sharing only and do
                        not encourage uses to undertake activities which
                        are dangerous or beyond their physical capabilites.

                        We endeavour to keep dangerous information from our site
                        but it is up to
                        users to verify the safety of walks for themselves as
                        information can become out of date
                        very quickly due to the nature of the content provided.

                        We are not liable for any external issues such as fire,
                        flood, local government act or act of God.

                        If you feel we have acted in error or been neglient
                        please contact us.
                    </p>
                </li>
            </ol>
        </div>
    </div>
</section>
{% endblock %}