{% extends "base.html" %}
{% block content %}

<section class="container">
    <div class="row">
        <!-- Warning/Update Messages-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-success alert-dismissible fade show col-12"
            role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endwith %}
        <!-- User's routes diplay-->
        {% for route in routes %}
        {% if username == route.user.lower() %}
        <div class="col-12 card bg-dark text-white">
            <img class="card-img" src="{{ route.imageUrl }}" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">{{ route.title }}</h5>
                <p class="card-text">Created by {{route.user}}</p>
                <p class="card-text">Last updated 3 mins ago</p>
                <a href="{{ url_for('edit_walk',route_id=route._id) }}"
                    class="btn btn-primary">Edit Walk</a>
                <a href="{{ url_for('show_walk',route_id=route._id) }}"
                    class="btn btn-primary">View Walk</a>
                <a href="{{ url_for('delete_walk',route_id=route._id) }}"
                    class="btn btn-primary">Delete Walk</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
</section>
{% endblock %}