{% extends "base.html" %}
{% block content %}

<section class="container-fluid user-header">
    <div class="user-icon">
        <i class="fas fa-user" aria-hidden="true"></i>
    </div>
    <h6 class="username">{{username|capitalize}}</h6>
    <div class="row user-stats">
        <div class="col-6 divider">
            <p>Favourites</p>
            <p id=favNumber>{{favourites|length}}</p>
        </div>
        <div class="col-6">
            <p>Walks</p>
            <p>{{routes|length}}</p>
        </div>

    </div>
</section>
<!-- Warning/Update Messages-->
<section class="container">
    <div class="row">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-success alert-dismissible fade show col-12"
            role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endwith %}
    </div>
</section>
<!-- user fav walks-->
<div class="container favourites">
    <div class="row">
        <h3 class="col-12">Favourites</h3>
        <div class="scrolling-wrapper col-12" id="favScroll">
            {% if not favourites %}
            <div class="col-12 no-favourites">
                <h4>No favourites added yet.</h4>
            </div>
            {% elif favourites == [] %}
            <div class="col-12 no-favourites">
                <h4>No Favourites to show.</h4>
            </div>
            {% endif %}
            {% for favourite in favourites %}
            <a href="{{ url_for('show_walk',route_id=favourite._id) }}"
                class="fav-walk">
                <div class="rectangle">
                    <div class="full-text">
                        <h5>{{favourite.title}}</h5>
                        <p>{{favourite.difficulty}}</p>
                        <p>{{favourite.time}}</p>
                        <p>Posted by: {{favourite.user}}</p>
                    </div>
                    <img src="{{ favourite.imageUrl }}">
                    <div class="overlay"></div>
                </div>
            </a>
            {% endfor %}
        </div>
        <button class="left-scroll col-1" id="leftScroll">
            <i class="fas fa-angle-left"></i>
        </button>
        <button class="right-scroll col-1" id="rightScroll">
            <i class="fas fa-angle-right"></i>
        </button>
    </div>
</div>
<!-- User's routes diplay-->
<section class="container user-walks">
    <h3>{{username|capitalize}}'s Walks</h3>
    <div class="row walk-background justify-content-center">
        {% if routes == [] %}
        <div class="col-12 no-favourites">
            <h4>No walks added yet.</h4>
        </div>
        {% endif %}
        {% for route in routes %}
        <div class="col-lg-4 col-md-6 col-sm-12 feature-walk">
            <a href="{{ url_for('show_walk',route_id=route._id) }}">
                <div class="square mb-2">
                    <img src="{{ route.imageUrl }}">
                    <div class="overlay"></div>
                    <div class="full-text">
                        <h5>{{route.title}}</h5>
                        <p>{{route.difficulty}}</p>
                        <p>{{route.time}}</p>
                    </div>
                </div>
            </a>
            <!-- Only shows the view and edit buttons if the current 
            user is the same as the page owner-->
            {% if session['user'] == route.user.lower() %}
            <div class="user-input row">
                <!-- Edit walk button-->
                <a href="{{ url_for('edit_walk',route_id=route._id) }}"
                    class="button clear col-sm-6">Edit Walk</a>
                <!-- Delete button-->
                <!-- onclick code provided by mentor, literal quotes 
                inside argument to avoid jinja errors-->
                <button
                    onclick="confirm_delete(`{{url_for('delete_walk',route_id=route._id)}}`)"
                    class="button delete col-sm-6" data-toggle="modal">Delete
                    Walk</button>
            </div>
            {% elif session['user'] == "admin" %}
            <div class="user-input row">
                <!-- Edit walk button-->
                <a href="{{ url_for('edit_walk',route_id=route._id) }}"
                    class="button clear col-sm-6">Edit Walk</a>
                <!-- Delete button-->
                <!-- onclick code provided by mentor, literal quotes 
                                        inside argument to avoid jinja errors-->
                <button
                    onclick="confirm_delete(`{{url_for('delete_walk',route_id=route._id)}}`)"
                    class="button delete col-sm-6" data-toggle="modal">Delete
                    Walk</button>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>

<div class="modal custom fade" tabindex="-1" role="dialog" id="deleteConfirm"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body custom">
                <h4 class="modal-title custom">
                    Delete this walk?
                </h4>
                <button class="button cancel" id="cancel"> Cancel
                </button>
                <button class="button confirm" id="confirm">
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/userprofile.js"></script>
{% endblock %}