{% extends "base.html" %}
{% block content %}


<section class="container-fluid user-header">
    <div class="test-1">
        <i class="fas fa-user" aria-hidden="true"></i>
        <h6 class="username">{{username}}</h6>
    </div>
    <div class="row test-2">
        <div class="col-6">
            <p>Favourites</p>
            <p>{{favourites|length}}</p>
        </div>
        <div class="col-6">
            <p>Walks</p>
            <p>{{routes|length}}</p>
        </div>

    </div>
</section>
<section class="container">
    <div class="row">
        <!-- Warning/Update Messages-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-success alert-dismissible fade show col-12"
            role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endwith %}
        <div class="col-6">
            <div class="row">
                <!-- user fav walks-->
                {% if not favourites %}
                <h4>No favourites added yet.</h4>
                {% elif favourites == [] %}
                <h4>No Favourites to show.</h4>
                {% endif %}
                {% for favourite in favourites %}
                <div class=" col-lg-4 col-md-6 col-sm-12 feature-walk">
                    <a href="{{ url_for('show_walk',route_id=favourite._id) }}">
                        <h5 class="overlay-text">{{favourite.title}}</h5>
                        <div class="full-text">
                            <h5>{{favourite.title}}</h5>
                            <p>{{favourite.difficulty}}</p>
                            <p>{{favourite.time}}</p>
                            <p>Posted by: {{favourite.user}}</p>
                        </div>
                        <div class="square mb-2">
                            <img src="{{ favourite.imageUrl }}">
                            <div class="overlay"></div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <!-- User's routes diplay-->
                {% for route in routes %}
                <div class="col-sm-12 col-lg-6 card bg-dark text-white">
                    <img class="card-img" src="{{ route.imageUrl }}"
                        alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title">{{ route.title }}</h5>
                        <p class="card-text">Created by {{route.user}}</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                        <!-- Only shows the view and edit buttons if the current user
                        is the same as the page owner-->
                        {% if username == route.user.lower() %}
                        <!-- Edit walk button-->
                        <a href="{{ url_for('edit_walk',route_id=route._id) }}"
                            class="button clear">Edit Walk</a>
                        <!-- Delete button-->
                        <!-- onclick code provided by mentor, literal quotes inside argument to 
                        avoid jinja errors-->
                        <button
                            onclick="confirm_delete(`{{url_for('delete_walk',route_id=route._id)}}`)"
                            class="btn btn-primary">Delete
                            Walk</button>
                        {% endif %}
                        <!-- View walk button-->
                        <a href="{{ url_for('show_walk',route_id=route._id) }}"
                            class="btn btn-primary">View Walk</a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>


    </div>
</section>
{% endblock %}